*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
    text-decoration: none !important;
}
.header{
    background-color: rgb(222, 147, 85);
    text-align: center;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
 
}
.header h2{
    font-size: 35px;
    margin: 0;
    padding: 0;
    color: white;
}
.lgbtn{
    color: black;
    margin-top: 30px; 
}

/* dashbord  */
.graph{
    margin-top: 20px !important;
    width: 50% !important;
}
.graph2{
    margin-top: 20px !important;
    width: 50% !important;
}

.res-logo{
    height: 12vh;
    object-fit: cover;
}

